/*All container padding*/
.container1{
    margin-bottom: 70px;
}
.container2{
    margin-bottom: 120px;
}
.container3{
    margin-bottom: 40px;
}
.container4{
    margin-bottom: 120px;
}
h6{
    color: #FFCA1C;
}
p{
    color:gray;
}
/*Button Style*/
.button-style{
    padding: 6px 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
/*Card Style*/
.card-style{
    border: none;
    border-radius: 15px;
    box-shadow:5px 5px 10px lightgray;
}
/*Image correction in card*/
.img-correction img{
    padding: 40px;
}
/*Text correction in card*/
.center-align p, h5{
    text-align: center;
}
.cat-img-style{
    border:none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: gray;
}
